@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white;
}
input::placeholder {
  color: white; 
}
.placeholder-padding::placeholder {
  padding-left: 10px; 
  color: #ffffff; 
}
