@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white;
}
input::placeholder {
  color: white; 
}
.placeholder-padding::placeholder {
  padding-left: 10px; 
  color: #ffffff; 
}


